<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Aery</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrapp.min.css') }}">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/webpage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/lightbox.css') }}">
  </head>

<body>

   

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>An Intelligent Data Analysis of Students Learning Style, Academic Achievements and Interest in Recommending Academic Tracks.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          AERY
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li class="has-sub">
                        <a href="javascript:void(0)" class="active"> Strand</a>
                        <ul class="sub-menu">
                            <li><a href="/stem">STEM</a></li>
                            <li><a href="/abm">ABM</a></li>
                            <li><a href="/humss">HUMSS</a></li>
                            <li><a href="/gas">GAS</a></li>
                        </ul> 
                        <li class="has-sub">
                          <a href="javascript:void(0)">Account</a>
                          <ul class="sub-menu">
                              <li><a href="/profile">Profile</a></li>
                              <li><a href="/aery/logout">Logout</a></li>
                          </ul> 
                    </ul>       
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Academic Track</h6>
          <h2>General Academic Strand</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="{{url_for('static',filename = 'assets/images/gas-bgg.jpg')}}">
                </div>
                <div class="down-content">
                  <h4>GENERAL ACADEMIC STRAND (GAS)</h4>
                  <p class="description">
                    Designed to prepare students who are more inclined to general areas of study rather than specialized fields, GAS will present the option for SHS students to take their electives from specialized subjects of any other strands.<br> 
                    <br>Unlike other strands, the senior high school GAS gives students a more general overview on the different subjects rather than a focused approached. Students will tackle subjects from each of the different strands (HUMSS, STEM, and ABM).
                    
                    <br><br> The GAS gives senior high school students exposure a variety of different subjects, allowing them to explore each one to see which will be the best fit for them
                  </p>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="hours">
                        <h5>GAS Undergraduate Program</h5>
                        <p>Bachelor of Science in Multimedia Arts and Sciences <br>
                           Bachelor of Science Fine Arts in Digital Cinema <br>
                           Bachelor of Science in Interior Design <br>
                           Bachelor of Science in Physical Education<br>
                          </p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="location">
                        <h5>GAS Careers include:</h5>
                        <p>Educators<br>
                           Businessman<br>
                           Lawyers<br>
                           Writers<br>
                           Journalist<br>
                           Multimedia Designer<br>
                           Interior Designer<br>
                        </p>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Technological Institute of the Philippies</p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script> 
    
    <script src="{{ url_for('static', filename='assets/js/isotope.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='assets/js/lightbox.js') }}"></script> 
    <script src="{{ url_for('static', filename='assets/js/tabs.js') }}"></script> 
    <script src="{{ url_for('static', filename='assets/js/video.js') }}"></script> 
    <script src= "{{ url_for('static', filename='assets/js/slick-slider.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
