<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Aery</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrapp.min.css') }}">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/webpage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/lightbox.css') }}"> 
  </head>

<body>

   

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>An Intelligent Data Analysis of Students Learning Style, Academic Achievements and Interest in Recommending Academic Tracks.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          AERY
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li class="has-sub">
                        <a href="javascript:void(0)" class="active"> Strand</a>
                        <ul class="sub-menu">
                            <li><a href="/stem">STEM</a></li>
                            <li><a href="/abm">ABM</a></li>
                            <li><a href="/humss">HUMSS</a></li>
                            <li><a href="/gas">GAS</a></li>
                        </ul> 
                       <!-- <li class="scroll-to-section"><a href="#apply">Apply Now</a></li> --> 
                        <li class="has-sub">
                          <a href="javascript:void(0)">Account</a>
                          <ul class="sub-menu">
                              <li><a href="/profile">Profile</a></li>
                              <li><a href="/aery/logout">Logout</a></li>
                          </ul> 
                    </ul>       
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Academic Track</h6>
          <h2>Humanities and Social Sciences</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="{{url_for('static',filename = 'assets/images/humms-bgg.jpg')}}">
                </div>
                <div class="down-content">
                  <h4>HUMANITIES AND SOCIAL SCIENCES STRAND (HUMSS)</h4>
                  <p class="description">
                    If you take this strand, you could be looking forward to becoming a teacher, a psychologist, a lawyer, a writer, a social worker, or a reporter someday. This strand focuses on improving your communication skills. Oh! And priesthood is a choice in here too!<br> 
                    <br>This strand is designed for students who would want to engage in a college degree on liberal arts and education. This will provide students with a deeper understanding on the interplay of different aspects of society.
                    
                    <br><br>People who choose this strand are spiring to become the future shapers of this nation that will build progress and deal with a lot of life. Humanities and Social sciences deals with studying the diversity of human behaviours and interaction in social, cultural,environmental,economic and political contexts.
                  </p>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="hours">
                        <h5>HUMMS Undergraduate Program</h5>
                        <p>Bachelor of Arts in Communication <br>
                           Bachelor of Multimedia Arts <br>
                           Bachelor of Science in Criminology <br>
                           Bachelor of Elementary Education<br>
                           Bachelor of Secondary Education <br>
                           Bachelor of Art in Journalism <br>
                           Bachelor of Arts in Broadcast Journalism <br>
                           Bachelor of Arts in Social Studies <br>
                           Bachelor of Arts in Philosophy <br>
                           Bachelor of Arts in Literature<br>
                           Bachelor of Arts Major in Foreign Studies<br>
                           Bachelor of Arts Major in Political Studies<br>
                          </p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="location">
                        <h5>HUMMS Possible Career Paths</h5>
                        <p>Teacher<br>
                           Lawyer<br>
                           Psychologist<br>
                           Author/Editor<br>
                           Politician<br>
                           Criminologist<br>
                           Journalist<br>
                           Archaeologist<br>
                           Consultant<br>
                           Editor/writer<br>
                           Geologist<br>
                           Historian<br>
                           Political Scientist<br>
                           Economist<br>
                           Linguistic Anthropologist<br>
                        </p>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Technological Institute of the Philippies</p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script> 

    <script src="{{ url_for('static', filename='assets/js/isotope.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='assets/js/lightbox.js') }}"></script> 
    <script src="{{ url_for('static', filename='assets/js/tabs.js') }}"></script> 
    <script src="{{ url_for('static', filename='assets/js/video.js') }}"></script> 
    <script src= "{{ url_for('static', filename='assets/js/slick-slider.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
